body{
    background-color: rgb(109, 128, 136);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game-container {
    display: flex;
    gap: 20px;
}

.player-display{
    display: none;
    background-color: rgb(41, 127, 142);
    height: 300px;
    width: 300px;
    text-align: center;
    border: 2px solid rgb(33, 102, 90);
    box-shadow: 0px 10px 10px 10px rgb(228, 238, 151);
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}
.player-display p {
    font-size: 100px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.board-container{
    height: 500px;
    width: 500px;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    grid-template-rows: repeat(3, minmax(50px, 1fr));
    /* margin-left: 10%; */

}

.square{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    background-color: rgb(255, 255, 255);
    /* grid-column: 1 / -1; */
    /* height: 20px; */
    border: 1px solid black;
    /* width: 20px; */
    cursor: pointer;
    user-select: none;
}
.square[data-index-number="1"]{
    /* background-color: aqua; */
}
dialog{
    border-radius: 20px;
    background-color: rgb(186, 208, 228);
   
}
dialog::backdrop {
    backdrop-filter: blur(1px);
    background-color: rgb(59, 93, 93);
}
dialog p{
    text-align: center;
}
label{
    display: flex;
    margin: 1rem;
    justify-content: center;
    font-size: 19px;
    font-weight: bold;
    color: rgb(75, 86, 100);
}
form{
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    user-select: none;
    
}
input{
    /* border: none; */
    border-radius: 10px;
    height: 30px;
    text-indent: 10px;
    font-size: 14px;
}
.form-input {
    display: flex;
    gap: 2rem;
}
.marker-c{
    display: grid;
    grid-template-columns: 2fr 1fr;
    
}
.markers{
    height: 100px;
    width: 100px;
    border-radius: 20%;
    font-size: 60px;
    font-weight: bold;
    color: rgb(97, 111, 129);
    cursor: pointer;
    
}
.confirm {
    height: 50px;
    width: 120px;
    border-radius: 10px;
    color: rgb(87, 99, 116);
    font-weight: bold;
    font-size: 28px;
    cursor: pointer;
}
.markers:hover{
    background-color: rgb(158, 185, 209);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px black;
}
.markers:focus {
    background-color: rgb(158, 185, 209);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px black;
    box-shadow: 2px 2px 20px rgb(255, 255, 255);
    
}
.confirm:hover {
    background-color: rgb(217, 224, 231);
}

.close {
    position: relative;
    left: 92%;
    bottom: 50px;
    border-radius: 10px;
    height: 30px;
    width: 30px;
    font-size: 23px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px black;
    cursor: pointer;
    background-color: rgba(206, 75, 75, 0.395);
}
.close:hover {
    background-color: rgba(206, 75, 75, 0.58);
}